/**
====================
 0 Variables, Mixins & Settings
====================



/**  
-----------------------------------
0.1 Variables
-----------------------------------
**/
/*
Grid Settings
*/
/*
==============
global styles
==============
*/
/**
-----------------------------------
 0.2 Mixins
-----------------------------------
**/
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/**
==============================
		
		 1.0 BASE 

==============================

## Base Guidelines:
- Global Element Declarations
- CSS Resets

## Try to avoid using:
- classes
- ID Selectors

## Base Examples: 
- heading sizes
- default link styles
- default font styles
- body styles
- CSS Resets

#Table of Contents

1.1 Normalize Reset
1.2 Typography

**/
/* =Normalize
-----------------------------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
/* Structure tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
}
/* Normalize search fields */
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
/* Responsive media */
img,
video {
  max-width: 100%;
  height: auto;
}
img {
  -ms-interpolation-mode: bicubic;
}
audio {
  width: 100%;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 150%;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 1.6rem;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 0;
}
/**
========================================
 Typography (Layout)
========================================
**/
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizeLegibility;
  line-height: 150%;
  margin-bottom: .5em;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
  margin: 2rem 0 .5rem;
}
h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
p {
  margin-bottom: 1rem;
}
a {
  color: #3570c3;
}
a:focus,
a:hover {
  color: #2a599b;
}
ul {
  margin-bottom: 1rem;
}
address {
  font-style: normal;
}
dl dt {
  font-weight: 500;
}
dd {
  margin-left: 1em;
}
blockquote {
  font-size: 1rem;
  font-style: italic;
  padding: 0 0 0 1rem;
  margin: 0 0 1rem 1rem;
  border-left: 2px solid #dbdada;
}
blockquote p {
  margin-bottom: .5em;
}
blockquote small,
small {
  font-size: 0.7rem;
  line-height: 1;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.4rem;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre,
code,
kbd,
samp {
  font-size: 90%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
  font-size: 90%;
  line-height: 1.45em;
  color: #333333;
  background: #f6f6f6;
  padding: 30px;
  overflow: auto;
  border: 1px solid #eee;
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px;
}
code {
  border: 1px solid #ddd;
  margin: 0px 2px;
  padding: 5px 10px;
  font-size: 12px;
}
pre code {
  border: 0px;
  padding: 0px;
  margin: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
pre,
code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #F7F5FA;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
pre,
pre code {
  font-size: 13px;
}
kbd {
  padding: 2px 6px 1px 6px;
  line-height: 1;
  display: inline-block;
  border-radius: .3em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #ffffff inset;
  background-color: #fafafa;
  border: 1px solid #ccc;
  color: #333333;
  font-weight: normal;
  white-space: nowrap;
}
@media only screen {
  .visible {
    display: block !important;
  }
  .hide {
    display: none !important;
  }
  .hide-for-phone-only {
    display: none !important;
  }
  .hide-for-tablet-only {
    display: block !important;
  }
  .hide-for-desktop-only {
    display: block !important;
  }
  .show-for-phone-only {
    display: block !important;
  }
  .show-for-tablet-only {
    display: none !important;
  }
  .show-for-desktop-only {
    display: none;
  }
}
@media only screen and (min-width: 48rem) {
  .hide-for-phone-only {
    display: block !important;
  }
  .hide-for-tablet-only {
    display: none !important;
  }
  .hide-for-desktop-only {
    display: block !important;
  }
  .show-for-phone-only {
    display: none !important;
  }
  .show-for-tablet-only {
    display: block !important;
  }
  .show-for-desktop-only {
    display: none !important;
  }
}
@media only screen and (min-width: 75rem) {
  .hide-for-phone-only {
    display: block !important;
  }
  .hide-for-tablet-only {
    display: block !important;
  }
  .hide-for-desktop-only {
    display: none !important;
  }
  .show-for-phone-only {
    display: none !important;
  }
  .show-for-tablet-only {
    display: none !important;
  }
  .show-for-desktop-only {
    display: block !important;
  }
}
body {
  background: #ffffff;
  color: #333333;
  font-size: 1rem;
  line-height: 150%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**
============================================================

	# 2.0 Layout #

============================================================

## Layout Guidelines: 
- The layout section differentiates the MAJOR sections of the site from the smaller modular components.
- Generally, a Layout style only has a single selector: a single ID or class name.
- divides the page into sections and holds 1 or more modules together

## Layout Examples:
- Wrappers
- Rows
- Columns
- Grid
- Single Selectors
- Header
- Footer
- Aside
- Major ID's or Classes

## Table of Contents
2.1 Grid System


## SMACSS Reference
http://smacss.com/book/type-layout

**/
/* 
-------------------------
	2.1 Grid System
-------------------------
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 75rem;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}
.row .row:after {
  clear: both;
}
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}
.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}
.column,
.columns {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  float: left;
}
/* Responsive embedded objects */
.video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 150%;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[class*="column"] + [class*="column"]:last-child {
  float: right;
}
[class*="column"] + [class*="column"].end {
  float: left;
}
@media only screen {
  .row {
    max-width: 30rem;
    padding: 0 1rem;
  }
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
  }
  .small-1 {
    width: 8.33333%;
  }
  .small-2 {
    width: 16.66667%;
  }
  .small-3 {
    width: 25%;
  }
  .small-4 {
    width: 33.33333%;
  }
  .small-5 {
    width: 41.66667%;
  }
  .small-6 {
    width: 50%;
  }
  .small-7 {
    width: 58.33333%;
  }
  .small-8 {
    width: 66.66667%;
  }
  .small-9 {
    width: 75%;
  }
  .small-10 {
    width: 83.33333%;
  }
  .small-11 {
    width: 91.66667%;
  }
  .small-12 {
    width: 100%;
  }
  .small-offset-0 {
    margin-left: 0% !important;
  }
  .small-offset-1 {
    margin-left: 8.33333% !important;
  }
  .small-offset-2 {
    margin-left: 16.66667% !important;
  }
  .small-offset-3 {
    margin-left: 25% !important;
  }
  .small-offset-4 {
    margin-left: 33.33333% !important;
  }
  .small-offset-5 {
    margin-left: 41.66667% !important;
  }
  .small-offset-6 {
    margin-left: 50% !important;
  }
  .small-offset-7 {
    margin-left: 58.33333% !important;
  }
  .small-offset-8 {
    margin-left: 66.66667% !important;
  }
  .small-offset-9 {
    margin-left: 75% !important;
  }
  .small-offset-10 {
    margin-left: 83.33333% !important;
  }
  .small-offset-11 {
    margin-left: 91.66667% !important;
  }
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none;
  }
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left;
  }
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right;
  }
}
@media only screen and (min-width: 48rem) {
  .row {
    max-width: 48rem;
  }
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
  }
  .medium-1 {
    width: 8.33333%;
  }
  .medium-2 {
    width: 16.66667%;
  }
  .medium-3 {
    width: 25%;
  }
  .medium-4 {
    width: 33.33333%;
  }
  .medium-5 {
    width: 41.66667%;
  }
  .medium-6 {
    width: 50%;
  }
  .medium-7 {
    width: 58.33333%;
  }
  .medium-8 {
    width: 66.66667%;
  }
  .medium-9 {
    width: 75%;
  }
  .medium-10 {
    width: 83.33333%;
  }
  .medium-11 {
    width: 91.66667%;
  }
  .medium-12 {
    width: 100%;
  }
  .medium-offset-0 {
    margin-left: 0% !important;
  }
  .medium-offset-1 {
    margin-left: 8.33333% !important;
  }
  .medium-offset-2 {
    margin-left: 16.66667% !important;
  }
  .medium-offset-3 {
    margin-left: 25% !important;
  }
  .medium-offset-4 {
    margin-left: 33.33333% !important;
  }
  .medium-offset-5 {
    margin-left: 41.66667% !important;
  }
  .medium-offset-6 {
    margin-left: 50% !important;
  }
  .medium-offset-7 {
    margin-left: 58.33333% !important;
  }
  .medium-offset-8 {
    margin-left: 66.66667% !important;
  }
  .medium-offset-9 {
    margin-left: 75% !important;
  }
  .medium-offset-10 {
    margin-left: 83.33333% !important;
  }
  .medium-offset-11 {
    margin-left: 91.66667% !important;
  }
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none;
  }
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left;
  }
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right;
  }
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
@media only screen and (min-width: 75rem) {
  .row {
    max-width: 75rem;
  }
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
  }
  .large-1 {
    width: 8.33333%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-3 {
    width: 25%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-9 {
    width: 75%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-12 {
    width: 100%;
  }
  .large-offset-0 {
    margin-left: 0% !important;
  }
  .large-offset-1 {
    margin-left: 8.33333% !important;
  }
  .large-offset-2 {
    margin-left: 16.66667% !important;
  }
  .large-offset-3 {
    margin-left: 25% !important;
  }
  .large-offset-4 {
    margin-left: 33.33333% !important;
  }
  .large-offset-5 {
    margin-left: 41.66667% !important;
  }
  .large-offset-6 {
    margin-left: 50% !important;
  }
  .large-offset-7 {
    margin-left: 58.33333% !important;
  }
  .large-offset-8 {
    margin-left: 66.66667% !important;
  }
  .large-offset-9 {
    margin-left: 75% !important;
  }
  .large-offset-10 {
    margin-left: 83.33333% !important;
  }
  .large-offset-11 {
    margin-left: 91.66667% !important;
  }
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none;
  }
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left;
  }
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right;
  }
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
/*
==============================

	 3.0 Module Rules 

==============================

## Module Guidelines:
- A Module is a more discrete component of the page
- This will be the meat of your css
- Modules sit inside Layout components
- Modules can sometimes sit within other Modules
- Each Module should be designed to exist as a standalone component
- Modules can easily be moved to different parts of the layout without breaking

## isolation Theory 
- Each element lives on it's own

<div class="grid">
	<div class="module"></div>
</div>

NOT

<div class="grid module">

</div>

## Try to avoid using:
- IDs and element selectors
- more than 3 levels of nesting

## Module Examples:
- Dialogs
- Buttons
- Widgets
- Callouts
- Nav bars
- Sidebars


## SMACSS Reference
http://smacss.com/book/type-module


## Module Naming Conventions
.ModuleName (Root Node)
.ModuleName-subModule (Sub-Modules)
.ModuleName--subComponent (Sub-components)

*/
/*
-----------------------------------------------------------------------------
3. Alerts
-----------------------------------------------------------------------------
*/
.warning,
.success,
.error {
  padding: 1rem;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  line-height: 220%;
}
.warning:before,
.success:before,
.error:before {
  content: "\f00d";
  float: right;
}
.warning:hover,
.success:hover,
.error:hover {
  cursor: pointer;
}
.warning {
  background-color: #ffe5c7;
  color: #fa8600;
}
.success {
  background-color: #dff0d8;
  color: #67b646;
}
.error {
  background-color: #f2dede;
  color: #b84c4c;
}
/*
-----------------------------------------------------------------------------
3.3 Buttons
-----------------------------------------------------------------------------

.btn
.btn-small
.btn-large

.btn-outline
.btn-small-outline
.btn-large-outline

.btn-disabled
.btn-small-disabled
.btn-large-disabled

*/
button:active,
button:focus {
  outline: none;
}
/* Normal Buttons */
.btn,
.btn-small,
.btn-large,
.btn-outline,
.btn-small-outline,
.btn-large-outline,
.btn-disabled,
.btn-small-disabled,
.btn-large-disabled {
  display: block;
  vertical-align: top;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #32ccfe;
  padding: 9px 20px;
  margin: 10px 5px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -ms-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
.btn:hover {
  background: #01befc;
  color: #ffffff;
}
.btn-small {
  padding: 5px 7px;
  background-color: #cc66cc;
}
.btn-small:hover {
  background: #bf40bf;
  color: #ffffff;
}
.btn-large {
  padding: 20px 40px;
  background-color: #fa6b5b;
}
.btn-large:hover {
  background: #f83e2a;
  color: #ffffff;
}
/* Outline Buttons */
.btn-outline {
  background-color: transparent;
  color: #32ccfe;
  border: 1px solid #32ccfe;
}
.btn-outline:hover {
  color: #32ccfe;
}
.btn-small-outline {
  background-color: transparent;
  color: #cc66cc;
  border: 1px solid #cc66cc;
  padding: 5px 7px;
}
.btn-small-outline:hover {
  color: #cc66cc;
}
.btn-large-outline {
  background-color: transparent;
  color: #fa6b5b;
  border: 1px solid #fa6b5b;
  padding: 20px 40px;
}
.btn-large-outline:hover {
  color: #fa6b5b;
}
/* Disabled Buttons */
.btn-disabled,
.btn-small-disabled,
.btn-large-disabled {
  color: #c0c0c0;
  background-color: #e6e6e6;
  box-shadow: inset 0px 0px 0px 1px #c0c0c0;
  text-shadow: 1px 1px 0px #fff;
  text-decoration: none;
}
.btn-disabled:hover {
  cursor: default;
  color: #c0c0c0;
}
.btn-small-disabled {
  padding: 5px 7px;
}
.btn-small-disabled:hover {
  cursor: default;
  color: #c0c0c0;
}
.btn-large-disabled {
  padding: 20px 40px;
}
.btn-large-disabled:hover {
  cursor: default;
  color: #c0c0c0;
}
@media only screen and (min-width: 48rem) {
  .btn,
  .btn-small,
  .btn-large,
  .btn-outline,
  .btn-small-outline,
  .btn-large-outline,
  .btn-disabled,
  .btn-small-disabled,
  .btn-large-disabled {
    display: inline-block;
  }
}
th,
td {
  border-bottom: 1px solid #eee;
  padding: 8px 10px;
}
table caption {
  text-transform: uppercase;
  padding: 0 1em;
  color: #777;
  font-size: 0.7rem;
}
/**
========================================
 Forms (Layout)
========================================
**/
.forms label {
  display: block;
  margin-bottom: 1.0786666666666667em;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
fieldset {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #dbdada;
}
legend {
  font-weight: bold;
  padding: 0 1em;
  margin-left: -1em;
}
.forms-list,
.forms-inline-list {
  margin: 0;
  padding: 0;
  margin-bottom: 1.0786666666666667em;
  list-style: none;
}
.forms-list label,
.forms-inline-list li,
.forms-inline-list li label {
  display: inline-block;
  margin-bottom: 0;
}
.forms-inline-list li label {
  margin-right: 0.809em;
}
.forms-inline-list li {
  margin-bottom: 3px;
}
.forms-list li {
  margin-bottom: 6px;
}
.forms-desc {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.85em;
  line-height: 1.4em;
}
.req,
.required {
  font-weight: normal;
  color: #d70a16;
}
.forms input[type="text"],
.forms input[type="password"],
.forms input[type="email"],
.forms input[type="url"],
.forms input[type="phone"],
.forms input[type="tel"],
.forms input[type="number"],
.forms input[type="datetime"],
.forms input[type="date"],
.forms input[type="month"],
.forms input[type="color"],
.forms input[type="time"],
.forms input[type="search"],
.forms input[type="range"],
.forms input[type="file"],
.forms input[type="datetime-local"],
.forms textarea,
.forms select {
  display: block;
}
.forms-inline-list input[type="text"],
.forms-inline-list input[type="password"],
.forms-inline-list input[type="email"],
.forms-inline-list input[type="url"],
.forms-inline-list input[type="phone"],
.forms-inline-list input[type="tel"],
.forms-inline-list input[type="number"],
.forms-inline-list input[type="datetime"],
.forms-inline-list input[type="date"],
.forms-inline-list input[type="month"],
.forms-inline-list input[type="color"],
.forms-inline-list input[type="time"],
.forms-inline-list input[type="search"],
.forms-inline-list input[type="range"],
.forms-inline-list input[type="file"],
.forms-inline-list input[type="datetime-local"],
.forms-inline-list textarea,
.forms-inline-list select {
  display: inline-block;
  width: auto;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="phone"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  outline: 0;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input:focus,
.textarea:focus {
  outline: 0;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"],
textarea,
select[multiple="multiple"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  font-size: 1rem;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  border: 1px solid #bbbcc0;
  outline: none;
  padding: 7px 5px;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"] {
  height: 2.3em;
  width: 100%;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
select[multiple="multiple"],
textarea {
  line-height: 1.35em;
}
/* Sizes */
.input-big,
.input-small,
.input-small-super {
  padding: .3em 1.75em;
}
.input-big {
  font-size: 5rem;
}
.input-small {
  font-size: -3rem;
}
/* Append & Prepend */
.input-groups {
  display: table !important;
}
.input-groups input {
  width: 100%;
}
.input-groups input,
.input-groups .input-append,
.input-groups .input-prepend,
.input-groups .btn-append {
  display: table-cell !important;
}
.input-groups .btn-append,
.input-groups .input-append,
.input-groups .input-prepend {
  width: 1%;
  vertical-align: middle;
}
.input-groups .input-append,
.input-groups .input-prepend {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 0;
  padding: .35em .75em .25em .75em;
  color: rgba(0, 0, 0, 0.5);
  line-height: 12px;
  font-size: 1rem;
  white-space: nowrap;
}
.input-groups .input-prepend {
  border-right: none;
}
.input-groups .input-append {
  position: relative;
  z-index: 1;
  border-left: none;
}
.input-groups .btn-append .btn {
  display: block;
  height: auto;
  border-radius: 0 2px 2px 0;
}
nav {
  background-color: #eee;
  display: block;
}
nav ul {
  margin: 0;
}
nav li {
  float: left;
  list-style: none;
}
nav:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.block-nav li {
  width: 50%;
}
.block-nav li > a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
}
.block-nav li > a:hover {
  background-color: #ddd;
}
.toggle ul {
  display: none;
}
.toggle li {
  width: 100%;
}
.toggle li > a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
}
.toggle li > a:hover {
  background-color: #ddd;
}
.burger {
  float: right;
  padding: 1rem;
}
@media only screen and (min-width: 48rem) {
  .block-nav li {
    width: 33.3333%;
  }
}
@media only screen and (min-width: 75rem) {
  .block-nav li {
    width: auto;
  }
  .burger > i {
    display: none;
  }
  .toggle li {
    width: auto;
  }
  .toggle ul {
    display: block;
  }
}
#wrapper {
  width: 600px;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 25px;
  border-top: none;
  box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  text-align: left;
}
#lightbox {
  position: fixed;
  /* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
}
#lightbox p {
  text-align: right;
  color: #fff;
  margin-right: 20px;
  font-size: 12px;
}
#lightbox img {
  box-shadow: 0 0 25px #111;
  -webkit-box-shadow: 0 0 25px #111;
  -moz-box-shadow: 0 0 25px #111;
  max-width: 940px;
}
/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 150%;
}
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs ul {
  font-size: .9em;
  color: rgba(0, 0, 0, 0.4);
  list-style: none;
  margin: 0;
}
.breadcrumbs ul:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs ul:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs ul li {
  float: left;
  margin-right: 3px;
}
.breadcrumbs li + li:before {
  content: " > ";
  color: #aaa;
  font-size: 12px;
  margin: 0 3px;
  position: relative;
  top: -1px;
}
.breadcrumbs-sections li + li:before {
  content: " | ";
  top: 0;
}
.breadcrumbs-path li + li:before {
  content: " / ";
  top: 0;
}
.breadcrumbs ul li a {
  color: #32ccfe;
  text-decoration: none;
}
.breadcrumbs ul li.active a {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
.breadcrumbs ul li a:hover {
  color: #32ccfe;
  text-decoration: underline;
}
/*  Pagination */
.pagination {
  position: relative;
  left: -9px;
  margin-left: 0;
  list-style: none;
}
.pagination:after {
  content: "";
  display: table;
  clear: both;
}
.pagination:after {
  content: "";
  display: table;
  clear: both;
}
.pagination li {
  float: left;
  margin-right: 2px;
}
.pagination li a,
.pagination li span {
  display: block;
  padding: 7px 9px;
  line-height: 1;
  border-radius: 3px;
  color: #32ccfe;
  text-decoration: none;
}
.pagination span {
  border: 1px solid #ddd;
}
.pagination li a:focus,
.pagination li a:hover {
  text-decoration: none;
  background-color: #32ccfe;
  color: #fff;
}
/* =
-----------------------------------------------------------------------------
3.6 Tables
-----------------------------------------------------------------------------*/
table.table-bordered td,
table.table-bordered th {
  border: 1px solid #ddd;
}
table.table-simple td,
table.table-simple th {
  border: none;
  padding-left: 0;
}
table.table-flat td,
table.table-flat th {
  border: none;
  padding: 0;
}
table.table-striped tbody tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
table.table-hovered tbody tr:hover td {
  background-color: #f4f4f4;
}
/* Responsive Tables */
.column table,
.columns table {
  width: 100%;
}
.table-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 0;
}
.table-container table {
  margin-bottom: 0;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
/* 
-----------------------------------------------------------------------------
		3.8 Media Queries
-----------------------------------------------------------------------------
*/
/* 3.8.1 Nav */
@media only screen and 48rem {
  .navbar-left,
  .navbar-right,
  .navbar ul li,
  .navbar-right ul li,
  .subnav-right ul,
  .subnav ul li,
  .subnav-right ul li {
    float: none;
    text-align: center;
  }
  .navbar ul li,
  .navbar-right ul li,
  .subnav ul li,
  .subnav-right ul li {
    margin-left: 0;
    margin-right: 0;
  }
  .fullwidth ul {
    width: auto;
  }
  .fullwidth li {
    display: block;
    width: auto;
  }
  /*	3.8.2 Helper Block MQ */
  .left,
  .right {
    float: none;
  }
}
/**
==============================

	 4.0 Shame Rules 

==============================


## Shame Guidelines:
- If you are unsure of where to put something it goes in here!
- Shame should be kept as clean as possible
- these will need to be filtered on a regular basis
- used for quick, one-off changes to be later moved to their appropriate home

## Try to avoid using:
- This file

**/
.color {
  text-align: center;
  padding: 1rem 0;
  color: #fff;
}
.grid {
  margin: 2rem 0;
}
.grid .column {
  background-color: #eee;
  border: 5px solid #fff;
  border-radius: 7px;
  text-align: center;
  padding: 1rem 0;
}
.primary-color-band div:nth-child(1) {
  background-color: #98e5fe;
  padding: 10px 0;
}
.primary-color-band div:nth-child(2) {
  background-color: #32ccfe;
  padding: 10px 0;
}
.primary-color-band div:nth-child(3) {
  background-color: #0198c9;
  padding: 10px 0;
}
.primary-color {
  background-color: #32ccfe;
}
.secondary-color-band div:nth-child(1) {
  background-color: #fdc4be;
  padding: 10px 0;
}
.secondary-color-band div:nth-child(2) {
  background-color: #fa6b5b;
  padding: 10px 0;
}
.secondary-color-band div:nth-child(3) {
  background-color: #e81e07;
  padding: 10px 0;
}
.secondary-color {
  background-color: #fa6b5b;
}
.tertiary-color-band div:nth-child(1) {
  background-color: #e6b3e6;
  padding: 10px 0;
}
.tertiary-color-band div:nth-child(2) {
  background-color: #cc66cc;
  padding: 10px 0;
}
.tertiary-color-band div:nth-child(3) {
  background-color: #993399;
  padding: 10px 0;
}
.tertiary-color {
  background-color: #cc66cc;
}
.panel-color {
  background-color: #eeeeee;
}
.text-color {
  background-color: #333333;
}
.link-color {
  background-color: #3570c3;
}
.row > h1:first-of-type {
  border-bottom: 2px solid #eee;
  padding: 0.5rem 0;
  margin: 1.5rem 0px;
  font-weight: lighter;
  font-size: 3rem;
}
