// ==============================================
//				Active Modal
// ==============================================

body.active-modal{
	/* Disables body scrolling when a dialogue box is open */
	overflow:hidden;
}

.modal-box:before, 
.modal-box:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	overflow: hidden; 
}

.modal-box:after { 
	clear: both; 
}

.modal{
	background: @modal-body-background;
	visibility: hidden;
	opacity:0;
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	outline: 0;
	overflow-y:scroll;
	zoom: 1;
	.transition(); 
}

.modal.active{
	visibility: visible;
	opacity: 1;
	.transition(); 

}

.modal-box{
	width:@modal-width-small;
	background:@modal-background-color;
	border-radius:@modal-radius;
	padding:@modal-padding;
	max-width:100%;
	display:block;
	margin:2em auto;
	clear:both;
}

.modal .navigation{
	display:block;
}

a.modal-next, a.modal-prev{
	color: @modal-next-prev-color;
	margin-top: 1em;
}

.modal-next{
	float:right;
}

.modal-prev{
	float:left;
}

a[data-fire], 
.modal-next, 
.modal-prev{
	cursor:pointer;
}

.modal-box h1,
.modal-box h2,
.modal-box h3,
.modal-box h4,
.modal-box h5,{
	margin-top: 0;
}


@media only screen and (min-width: @medium-up) {
	.modal-box{
		width:@modal-width-medium;
	}
}


@media only screen and (min-width: @large-up) {

	.modal-box{
		width:@modal-width-large;
	}

}
