// ==============================================
//				Alerts
// ==============================================

.warning, .success, .error{
	line-height: @base-line-height;
	padding:1em;
	display: inline-block;
	width:100%;
	margin:1em 0;
}

i.close{	
	.close();
	float: right;
	opacity: .7;
	color: inherit;
	}

.warning{
	background-color: lighten(@warning-color, 30%);
	color:darken(@warning-color, 20%);
}

.success{
	background-color: lighten(@success-color, 30%);
	color:darken(@success-color, 20%);
}

.error{
	background-color: lighten(@error-color, 30%);
	color:darken(@error-color, 20%);
}