// ==============================================
//				Bands
// ==============================================

.band{
	background-color: #eee;
    padding:2em 0em;
}

.band:nth-child(even){
	background-color: #fff;	
}



@media only screen and (min-width: @medium-up) {

	.band{
    padding:4em 0em;
	}

}

@media only screen and (min-width: @large-up) {

	.band{
    padding:6em 0em;
	}

}