// ==============================================
//				Navigation
// ==============================================


// doNothing

.doNothing{	
	background-color: @nav-background-color;
	border-radius: @global-radius;
	font-family: @nav-font-family;
	font-weight: @nav-font-weight;
	.clearfix();
}

.doNothing ul{
	margin: 0;
	list-style: none;
}

.doNothing ul li{
	float: left;
}

.doNothing ul li a{
	padding: @nav-padding;
	font-size: @nav-font-size;
	color: @nav-link-color;
	text-decoration: none;
	float: left;
	.transition();
}

.doNothing ul li:first-child{
	border-radius: @nav-border-radius;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

@media only screen and (min-width: @large-up) {
	.doNothing ul li:hover{
		background-color: @nav-background-hover;
		.transition();
	}
}

// ----- END doNothing


// navBlock

.navBlock {
	background-color: @nav-background-color;	
	border-radius: @global-radius;
	font-family: @nav-font-family;
	font-weight: @nav-font-weight;
	.clearfix();	
}

.navBlock ul {
	margin: 0;
	list-style: none;
}

.navBlock ul li {
	float: left;
	width: 50%;
}

.navBlock ul li a:first-child{
	border-radius: @nav-border-radius;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}


.navBlock ul li a {
	padding: @nav-padding;
	font-size: @nav-font-size;
	color: @nav-link-color;
	text-decoration: none;
	float: left;
	text-align:center;
	width: 100%;
	.transition();
}

@media only screen and (min-width: @medium-up) {

	.navBlock ul li{
		width: 33.3333%;
		text-align: center;
	}	

}

@media only screen and (min-width: @large-up) {

	.navBlock ul li a:hover {
		background-color: @nav-background-hover;
		.transition();
	}

	.navBlock ul {
		margin:0;
	}
	
	.navBlock ul li{
		width: auto;
	}

}

// ---------- END navBlock


// navToggle 

.navToggle{
	background-color: @nav-background-color;
	border-radius: @global-radius;
	font-family: @nav-font-family;
	font-weight: @nav-font-weight;
	overflow: hidden;
	.clearfix();
	.transition();
	height: auto;
}

.navToggle ul{
	visibility: hidden;
	position: absolute;
	.transition();

}

.navToggle ul{
	margin: 0;
	float: left;
	width: 100%;
}
.navToggle ul li{
	width: 100%;
	float: left;
	list-style: none;
	border-top: 1px solid @primary-light;
	background-color: @primary-dark;
}
.navToggle ul li a{
	padding: @nav-padding;
	font-size: @nav-font-size;
	color: @nav-link-color;
	display: block;
	text-decoration: none;
	.transition();
}

.navToggle-burger{
	float: left;
	text-decoration: none;
	text-transform: capitalize;
	padding:5px 15px;
	border-radius: 5px;
	margin:.5em 1em .5em 0;
	color: @nav-link-color;
	.transition();
}


@media only screen and (min-width: @medium-up) {}

@media only screen and (min-width: @large-up) {

	.navToggle ul li{
		width: auto;
		border:0;
		background-color: initial;
	}

	.navToggle-burger{
		display: none;
	}

	.navToggle ul li a:hover{
		background-color: @nav-background-hover;
		.transition();
	}

}


// ---------- navToggle End


// thumbNav Start

.thumbNav{
	background-color: @nav-background-color;
	border-radius:@global-radius;
	font-family: @nav-font-family;
	font-weight: @nav-font-weight;
	position:fixed;
	z-index:1000;
	width:50px;
	height:50px;
	overflow: hidden;
	bottom:0;
	margin-bottom:20px;
	right:20px;
	.transition();

}

.thumbNav i{
	position: absolute;
	z-index:10000000000;
	bottom: 0;
	right: 0;
	width: 50px;
	display: block;
	text-align: center;
	padding-bottom: 16px;
	color: @nav-link-color;
	font-size: 20px;
}

.thumbNav ul{
	margin:0;
	visibility:hidden;
	opacity:0;
	list-style:none;
	position:absolute;
	width:100%;
}

.thumbNav ul li a{
	color:@nav-link-color;
	font-size: @nav-font-size;
	padding: @nav-padding;
	display: block;
	width:100%;
	text-decoration: none;
}

.thumbNav.active{
	.transition();
	border-radius:@global-radius;
	width: 90%;	
	border:1px solid @primary-dark;

}

.thumbNav.active ul{
	.transition();
	visibility:visible;
	opacity:1;
}

.iconSprite i:first-child{
	.transition();
	opacity:1;
	visibility: visible;	
}

.iconSprite i:last-child{
	.transition();
	opacity:0;
	visibility: hidden;
}

@media only screen and (min-width: @medium-up) {
	.thumbNav.active{
		width: 40%;
	}
}

@media only screen and (min-width: @large-up) {
	
	.thumbNav{
		position: static;
		width:100%;
		height:auto;
	}


	.thumbNav ul{
		position: static;
		visibility: visible;
		opacity: 1;
	}

	.thumbNav ul li {
		display: inline-block;
	}


	.thumbNav ul li a:hover{
		background-color: @nav-background-hover;
		.transition();
	}	

	.iconSprite{
		display: none;
	}

}

// ---------- End thumbNav

