/**
====================
 Variable Settings
====================

Table of contents:

- Global Variables
- Grid Settings
- Color Variables
- 

**/



//
// ---------------------------------------------------------
//     Global Settings
// ---------------------------------------------------------
//

/**
Global Variables

@global-radius
@global-font-color
@global-font-family

**/

@body-bg: @white; // set this as an color or an image
@global-radius: 3px; // applies to buttons
@global-background-transition: background-color 300ms ease-out;




/**  
-----------------------------------
0.1 Grid Settings
-----------------------------------
**/

@row-width: 75rem;
@total-columns: 12;
@column-gutter: 2rem;

// For "Fixed Responsive" set the row-width variables to the media querie variables below
// For "Fluid Responsive" set the row-width variables to 100% 

@large-row-width: @row-width; //desktop (or your largest) width should always be defined by the @row-width variable
@medium-row-width: @medium-up;
@small-row-width: @small-up;

@large-up: @row-width; // desktop should inherit whatever the row-width is
@medium-up: 48rem; // 48rem = 768px
@small-up: 30rem; // 30rem = 480px

//
// ---------------------------------------------------------
//     Color Settings
// ---------------------------------------------------------
//

//Theme colors
@primary-color: #FC604B;
@secondary-color: #288DBA;
@tertiary-color: #2ecc71;
@mono-color: #eee;
@font-color: #666666;
@link-color: @secondary-color;

//Alert Colors
@warning-color: #ffe5c7;
@success-color: #dff0d8;
@error-color: #f2dede;

//Basic Colors
@disabled: #808080;
@white: #fff;
@black: #333;


//
// ---------------------------------------------------------
//     Font Settings
// ---------------------------------------------------------
//

@base-font-size: 1rem;
@base-line-height: 1.8rem;

@global-font-family: Helvetica, Arial, sans-serif;
@heading-font-family: @global-font-family;
@inside-label-font-family: @global-font-family;
@code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

// Headings
@h1-size: 2rem; 
@h2-size: 1.8rem; 
@h3-size: 1.6rem; 
@h4-size: 1.4rem; 
@h5-size: 1.2rem; 
@h6-size: .8rem; 

@h1-color:@font-color; 
@h2-color:@font-color; 
@h3-color:@font-color; 
@h4-color:@font-color; 
@h5-color:@font-color; 
@h6-color:@font-color; 


// Forms
@fieldsBottom: 1.6em;

// Util
@em: @base-font-size * 1em; // outputting ems, e.g. 14 / @em
