/**
==============================

	 4.0 Shame Rules 

==============================


## Shame Guidelines:
- If you are unsure of where to put something it goes in here!
- Shame should be kept as clean as possible
- these will need to be filtered on a regular basis
- used for quick, one-off changes to be later moved to their appropriate home

## Try to avoid using:
- This file

**/


.exampleSection{
	font-weight: bold;
	color:@secondary-color;
}

.grid span{
	display: block;
	text-align: center;
	padding: 10px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: @global-radius;
	background-color: @mono-color;
}