include "./masterpage/template-MP/header.html"

<div class="band">
	<div class="row">
		include "./bands/content1.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content2.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content3.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content4.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content5.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content6.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content7.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content8.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content9.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content10.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content11.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content12.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./bands/content13.html"
	</div>
</div>

include "./masterpage/template-MP/footer.html"
