include "./masterpage/template-MP/header.html"

<div class="band">
	<div class="row">
		include "./footers/footer1.html"
	</div>
</div>
	
<div class="band">
	<div class="row">
		include "./footers/footer2.html"
	</div>
</div>
	
<div class="band">
	<div class="row">
		include "./footers/footer3.html"
	</div>
</div>
	
<div class="band">
	<div class="row">
		include "./footers/footer4.html"
	</div>
</div>
	
<div class="band">
	<div class="row">
		include "./footers/footer5.html"
	</div>
</div>
	

include "./masterpage/template-MP/footer.html"
