include "./masterpage/template-MP/header.html"

<div class="band">
	<div class="row">
		include "./content/content1.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content2.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content3.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content4.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content5.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content6.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content7.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content8.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content9.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content10.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content11.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content12.html"
	</div>
</div>

<div class="band">
	<div class="row">
		include "./content/content13.html"
	</div>
</div>

include "./masterpage/template-MP/footer.html"
