
//MOBILE PHONE AND UP
@media only screen {
	.visible{
	display: block !important;
					-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
	}

	.hide{
		display: none !important;
						-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
	}

	.hide-for-phone-only{display: none !important;}
	.hide-for-tablet-only{display: block !important;}
	.hide-for-desktop-only{display: block !important;}

	.show-for-phone-only{display: block !important;}
	.show-for-tablet-only{display: none !important;}
	.show-for-desktop-only{display: none;}

}

//TABLET AND UP
@media only screen and (min-width: @medium-up) {

	.hide-for-phone-only{display: block !important;}
	.hide-for-tablet-only{display: none !important;}
	.hide-for-desktop-only{display: block !important;}

	.show-for-phone-only{display: none !important;}
	.show-for-tablet-only{display: block !important;}
	.show-for-desktop-only{display: none !important;}
}

//DESKTOP AND UP
@media only screen and (min-width:@large-up){

	.hide-for-phone-only{display: block !important;}
	.hide-for-tablet-only{display: block !important;}
	.hide-for-desktop-only{display: none !important;}

	.show-for-phone-only{display: none !important;}
	.show-for-tablet-only{display: none !important;}
	.show-for-desktop-only{display: block !important;}
}

