
// Mobile and Phone Up
@media only screen {
	.visible{
	display: block !important;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	}

	.hide{
		display: none !important;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.hide-for-phone{display: none !important;}
	.hide-for-tablet{display: block !important;}
	.hide-for-desktop{display: block !important;}

	.show-for-phone{display: block !important;}
	.show-for-tablet{display: none !important;}
	.show-for-desktop{display: none;}

}

// Tablet Up
@media only screen and (min-width: @medium-up) {

	.hide-for-phone{display: block !important;}
	.hide-for-tablet{display: none !important;}
	.hide-for-desktop{display: block !important;}

	.show-for-phone{display: none !important;}
	.show-for-tablet{display: block !important;}
	.show-for-desktop{display: none !important;}
}

// Desktop Up
@media only screen and (min-width:@large-up){

	.hide-for-phone{display: block !important;}
	.hide-for-tablet{display: block !important;}
	.hide-for-desktop{display: none !important;}

	.show-for-phone{display: none !important;}
	.show-for-tablet{display: none !important;}
	.show-for-desktop{display: block !important;}
}

