

/*
-----------------------------------------------------------------------------
3.3 Buttons
-----------------------------------------------------------------------------


*/

// Mixins
.btn-color(@color, @darken: 10%) {
	background: @color;
	&:hover {
		background: darken(@color, @darken);
	}
}

button:active,
button:focus {
	outline: none;
}



/* Normal Buttons */



.btn {
	display: block;
	vertical-align: top;
	cursor: pointer;
	font-size: @base-font-size + 0px;
	font-weight: 400;
	line-height: 1;
    text-align: center;
	text-decoration: none;

	color: @white;
	background: @primary-color;

	
	padding: 9px 20px;
	margin:10px 5px;
	border:none;

	.border-radius-global();	
	.transition-bg-global();
	&:hover {
			background: darken(@primary-color, 10%);
			color:@white;
	}
}

.btn-small{
	&:extend(.btn);
	padding:5px 7px;
	background-color: @tertiary-color;
		&:hover {
			background: darken(@tertiary-color, 10%);
			color:@white;
	}
}

.btn-large{
	&:extend(.btn);
	padding:20px 40px;
	background-color: @secondary-color;
			&:hover {
			background: darken(@secondary-color, 10%);
			color:@white;
	}
}

/* Outline Buttons */

.btn-outline{
	&:extend(.btn);
	background-color:transparent;
	color:@primary-color;
	border:1px solid @primary-color;

		&:hover {
			color:@primary-color;
		}
}

.btn-small-outline{
	&:extend(.btn);
	background-color:transparent;
	color:@tertiary-color;
	border:1px solid @tertiary-color;
	padding:5px 7px;

		&:hover {
			color:@tertiary-color;
		}
}

.btn-large-outline{
	&:extend(.btn);
	background-color:transparent;
	color:@secondary-color;
	border:1px solid @secondary-color;
	padding:20px 40px;

		&:hover {
			color:@secondary-color;
		}
}

/* Disabled Buttons */

.btn-disabled{
	&:extend(.btn);
	color: lighten(@disabled, 25%);
	background-color: lighten(@disabled, 40%);
	box-shadow: inset 0px 0px 0px 1px lighten(@disabled, 25%);
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;

		&:hover{
		cursor:default;
		color: lighten(@disabled, 25%);
	}

}

.btn-small-disabled{
	&:extend(.btn-disabled);
	padding:5px 7px;

		&:hover{
		cursor:default;
		color: lighten(@disabled, 25%);
	}
}

.btn-large-disabled{
	&:extend(.btn-disabled);
	padding:20px 40px;

		&:hover{
		cursor:default;
		color: lighten(@disabled, 25%);
	}
}


@media only screen and (min-width: @phone-up) {

}


@media only screen and (min-width: @tablet-up) {

.btn{
	display: inline-block;
	}

}



@media only screen and (min-width: @desktop-up) {

}
