// ==============================================
//				Navigation
// ==============================================

.doNothing{	
	display: block;
}
.doNothing:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.doNothing ul{
	margin: 0;
	display: block;
	margin: 10px 0px 20px;
	float: left;
}

.doNothing ul li{
	float:left;
	list-style: none;
}
.doNothing ul li a{
	text-decoration: none;
	padding: 1rem;
	font-size: 16px;
	float: left;
	color: @font-color;
	border-radius: 3px;
	.transition();
}

.doNothing ul li a:hover{
	color: @white;
	background-color: @secondary-color;
	.transition();
}

/* Block Nav */

.navBlock {
	display: block;
	background-color: @primary-color;	
}

.navBlock:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;	
}

.navBlock ul {
	margin-left: 0;
}

.navBlock ul li {
	width: 50%;
	float: left;
	list-style: none;
}

.navBlock ul li a {
	display: block;
	padding: 1rem 2rem;
	text-decoration: none;
	color: @white;
	text-align:center;
	.transition();
}

.navBlock ul li a:hover {
	background-color: @secondary-color;
	.transition();
}

@media only screen and (min-width: @medium-up) {
	
	.navBlock li{
		width: 33.3333%;
	}	
}
@media only screen and (min-width: @large-up) {

	.navBlock ul {
		margin:0;
	}
	.navBlock ul li{
		width: auto;
	}

}


/* Nav Toggle */

.navToggle{
	display: block;
	background-color: @mono-color;
	color: @font-color;
	overflow: hidden;
	width:100%;
	.transition();
	background-color: @primary-color;
	color: @white;
}

.navToggle ul{
	.transition();
	visibility: hidden;
	position: absolute;
}

.navToggle ul.ready{
	
}

.navToggle:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


.navToggle.active .navToggle-burger{

}

.navToggle ul{
	margin: 0;
	float: left;
	width: 100%;
}
.navToggle ul li{
	width: 100%;
	float: left;
	list-style: none;
}
.navToggle ul li a{
	display: block;
	padding: 15px 25px;
	text-decoration: none;
	color: @white;
	.transition();
}
.navToggle ul li a:hover{
	background-color: @primary-color;
	color:@white;
	.transition();
}
.navToggle{}
.navToggle-burger{
	float: right;
	padding: 10px;
	font-size: 1em;
	margin-right: 5px;
	text-decoration: none;
	text-transform: capitalize;
	padding: 5px 10px;
	border-radius: 5px;
	margin:.5em 1em .5em 0;
	color: @font-color;
	.transition();
}
.navToggle-burger:hover{
	background-color: @primary-color;
	color:@white;
	.transition();
}

@media only screen and (min-width: @medium-up) {}

@media only screen and (min-width: @large-up) {

	.navToggle ul li{
		width: auto;
	}
	.navToggle-burger{display: none;}

}



/* ThumbNav */

.thumbNav{
	position:fixed;
	z-index:1000;
	width:50px;
	height:50px;
	background-color: @secondary-color;
	border-radius:@global-radius;
	overflow: hidden;
	bottom:0;
	margin-bottom:20px;
	right:20px;
	.transition(all ease .35s);
}
.thumbNav i{
		position: absolute;
		z-index:10000000000;
		bottom: 0;
		right: 0;
		width: 50px;
		display: block;
		text-align: center;
		padding-bottom: 16px;
		color: @white;
		font-size: 20px;
		-webkit-font-smoothing: antialiased;
}
.thumbNav ul{
			margin:0;
		visibility:hidden;
		opacity:0;
		list-style:none;
		position:absolute;
		width:100%;
		-webkit-font-smoothing: antialiased;
}
.thumbNav ul li a{
					display: block;
				width:100%;
				padding:1rem 2rem;
				color:@white;
				text-decoration: none;
				font-weight:100;
				-webkit-font-smoothing: antialiased;
}
.thumbNav.active{
			border-radius:@global-radius;
		width: 88%;
		.transition(all ease .35s);
}
.thumbNav.active ul{
				visibility:visible;
			opacity:1;
			.transition(all ease .35s);
}

.iconSprite i:first-child{
	.transition(all ease .35s);
	opacity:1;
	visibility: visible;	
}

.iconSprite i:last-child{
	.transition(all ease .35s);
	opacity:0;
	visibility: hidden;
}

@media only screen and (min-width: @medium-up) {}

@media only screen and (min-width: @large-up) {
	
	.thumbNav{
		position: static;
		width:100%;
		height:auto;
	}

	.thumbNav ul{
		position: static;
		visibility: visible;
		opacity: 1;
	}

	.thumbNav ul li {
		display: inline-block;
	}

	.thumbNav ul li a {
		padding:.6rem 2rem;
	}

	.thumbNav ul li a:hover{
		background-color: @primary-color;
		.transition();
	}	

	.iconSprite{
		display: none;
	}

}





/* Multilevel */

.menu-link {
    display: none;
}

.menu {
    float: left;
    .transition();
}

.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
    display: inline-table;
}

.menu > li > ul.sub-menu {
    min-width: 10em;
    padding: 4px 0;
    background-color: @white;
    border: 1px solid @mono-color;
}

.menu ul li {
    padding: 0px;
}

.menu > ul > li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: @black;
    font-size: .9em;
}

.menu ul li > a {
    height: 58px;
    padding: 19px 12px;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: @white;
    border: 1px solid @mono-color;
}

.menu ul li:hover > ul {
    display: block;
}

.menu ul ul > li {
    position: relative;
}

.menu ul ul > li a {
    padding: 5px 15px 5px 10px;
    height: auto;
    background-color: @white;
}

.menu ul ul > li a:hover {
    background-color: @primary-color;
    color: @white;
}

.menu ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

@media all and (max-width: 768px) {
    .example-header .container {
        width: 100%;
    }

    a.menu-link {
        display: block;
        color: @white;
        background-color: @black;
        float: right;
        text-decoration: none;
        padding: 19px 10px;
    }

    .menu {
        clear: both;
        min-width: inherit;
        float: none;
    }

    .menu, .menu > ul ul {
        overflow: hidden;
        max-height: 0;
        background-color: @white;
    }

    .menu > li > ul.sub-menu {
        padding: 0px;
        border: none;
    }

    .menu.active, .menu > ul ul.active {
        max-height: 55em;
    }

    .menu ul {
        display: inline;
    }

    .menu > ul {
        border-top: 1px solid @black;
    }

    .menu li, .menu > ul > li {
        display: block;
    }

    .menu li a {
        color: @black;
        display: block;
        padding: 0.8em;
        border-bottom: 1px solid @black;
        position: relative;
    }

    .menu li.has-submenu > a:after {
        content: '+';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        font-size: 1.5em;
        padding: 0.55em 0.5em;
    }

    .menu li.has-submenu > a.active:after {
        content: "-";
    }

    .menu ul ul > li a {
        background-color: @mono-color;
        height: 58px;
        padding: 19px 18px 19px 30px;
    }

    .menu ul ul, .menu ul ul ul {
        display: inherit;
        position: relative;
        left: auto;
        top: auto;
        border: none;
    }
}


/* End */

