/* Content Collapse */
.contentCollapse{
  border:1px solid @mono-color;
  border-radius:@global-radius;
  margin-top:15px;
}
.contentCollapse [data-toggle]{
  display:block;
  padding:.5em 1em;
  cursor:pointer;
  color:@font-color;
  
  .transition();

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contentCollapse .content{
  display:none;
  border-top:1px solid @mono-color;
  padding:10px 20px;
}
.contentCollapse.open [data-toggle]{
   .transition();
   color:@secondary-color;
}

